<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vimaponto.PrimaveraV100.Clientes.GrupoMundifios.Properties.Settings.PRIMUNDIFIOSConnectionString"
            connectionString="Data Source=.\PRILEV100;Initial Catalog=PRIMUNDIFIOS;User ID=sa;Password=PRILEV100"
            providerName="System.Data.SqlClient" />
        <add name="Vimaponto.PrimaveraV100.Clientes.GrupoMundifios.Properties.Settings.PRIEMPREConnectionString"
            connectionString="Data Source=.\PRILEV100;Initial Catalog=PRIEMPRE;User ID=sa;Password=PRILEV100"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>